.contents_row
  .container
    %h2.pagetitle パスワードをお忘れの方
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form_group
        .field
          = f.label :"メールアドレス"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "ご登録されたメールアドレス"
        .actions
          .actions__btn
            = f.submit "送信する", class: "login_btn"
          = render "devise/shared/links"
