.buy-page
  .buy-items
    .buy-item
      .buy-item__main-header
        %h3.buy-title 購入内容の確認

      .buy-item__main-container
        .main-container-item
          .buy-img
            = image_tag @images.find_by(product_id: @product.id).image.url, class: "buy-img"
            .buy-img__buy-name
              =@product.name
              %br
              ="¥ #{@product.price.to_s(:delimited)}"

      .buy-item__main-container
        .main-container-item
          .main-container-item__payment
            支払い金額：
            .main-container-item__payment__money
              ="¥ #{@product.price.to_s(:delimited)}"

      .buy-item__main-container
        .main-container-item
          .main-container-item__credit
            支払方法
            .main-container-item__credit__list
              クレジットカード
              .main-container-item__credit__list__number
                **** **** 4242
                %br
                有効期限 12/20
            
      .buy-item__main-container
        .main-container-item
          .main-container-item__shipping-address
            配送先
            .buy-user-address
              .buy-user-address__confirmation
                = "〒 #{current_user.address.postcode.to_s.insert(3, "-")}"
                %br
                -# 大阪府
                = current_user.address.prefecture.name
                %br
                -# 大阪市
                = current_user.address.city
                %br
                -# 中央区難波5-1-60
                = current_user.address.address
                %br
                -# なんばスカイオ
                = current_user.address.address2
                %br
                -# 山田
                = current_user.last_name
                -# 太郎
                = current_user.first_name

      .buy-item__main-container
        .main-container-item
          .buy-item__main-container__btn
            = form_tag(action: :pay, method: :post, class: :"buy-btn") do
              %button{class: "buy-btn", type: "submit"} 購入する
          

  .buy-page__footer
    %ul
      %li.buy-page__footer__terms
        =link_to "#" do
          プライバシーポリシー
      %li.buy-page__footer__terms
        =link_to "#" do
          FURIMA利用規約
      %li.buy-page__footer__terms
        =link_to "#" do
          特定商取引に関する表記
    .buy-page__footer__logo
      =image_tag "logo-white.png"
      %p ©️FURIMA


      