= form_for @product do |f|
  .main
    .main_block
      .main_block_category
        .main_block_category_box
          .main_block_category_box_mini
            .text
              出品画像
            .text_logo
              必須
          .main_block_category_box_mini
            .title
              最大１０枚まで保存できます
          .main_block_category_box_mini
            .big_contents
              #image-box
                = f.fields_for :images do |image|
                  = f.label class:"image_label" do
                    .js-file_group{"data-index" => "#{image.index}"}
                      = image.file_field :image, class: 'js-file'
                      %br/
                    %span.js-remove 削除
              = f.submit

      .main_block_category
        .main_block_category_box
          .main_block_category_box_mini
            .text
              商品名
            .text_logo
              必須
          .main_block_category_box_mini
            = f.text_field :name, class: "small_contents"
            %br/
          .main_block_category_box_mini
            .text
              商品の説明
            .text_logo
              必須
          .main_block_category_box_mini
            = f.text_area :description, class: "description_contents"
            %br/

      .main_block_category
        .main_block_category_box
          .main_block_category_box_mini
            .title
              商品の詳細
          .main_block_category_box_mini
            .text
              カテゴリー
            .text_logo
              必須
        .main_block_category_box
          .main_block_category_box_mini.parent-box
            = f.select :category, @category_parent_array, {}, {class: 'small_contents ', id: 'parent_category'}
          %br/
          .main_block_category_box_mini
            .text
              ブランド
            .text_logo2
              任意
          .main_block_category_box_mini
            = f.text_field :brand, class: "small_contents"
            %br/
          .main_block_category_box_mini
            .text
              商品の状態
            .text_logo
              必須
          .main_block_category_box_mini
            = f.collection_select :status_id, Status.all, :id, :name
          %br/

      .main_block_category
        .main_block_category_box
          .main_block_category_box_mini
            .title
              配送について
          .main_block_category_box_mini
            .text
              配送料の負担
            .text_logo
              必須
          .main_block_category_box_mini.delivery-burden
            = f.collection_select :burden_id, Burden.all, :id, :name, class: 'delivery-burden'
          %br/
          .main_block_category_box_mini
            .text
              配送元の地域
            .text_logo
              必須
          .main_block_category_box_mini
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name
          %br/
          .main_block_category_box_mini
            .text
              配送までの日数
            .text_logo
              必須
          .main_block_category_box_mini
            = f.collection_select :days_id, Days.all, :id, :name
          %br/

      .main_block_category
        .main_block_category_box
          .main_block_category_box_mini
            .title
              価格
          .main_block_category_box_mini
            .text
              販売価格
            .text_logo
              必須
            = f.label '￥', class: "price_mark"
            = f.text_field :price, class: "price_contents"
            %br/
        .main_block_category_box
          .main_block_category_box_mini
            = f.submit '出品する', class: 'price_btn' 
        .main_block_category_box
          .main_block_category_box_mini
            .save_btn
              下書きに保存する
.exihibition-footer
  .exihibition-footer-box
    %ul.exihibition-list
      =link_to "プライバシーポリシー", "#" 
      =link_to "FURIMA利用規約", "#" 
      =link_to "特定商取引に関する表記", "#" 
          
    .exihibition-footer__logo
      =image_tag "material/logo/logo-white.png"
      %p ©️FURIMA