.show-body
  .show-group
    .show-group__main-group
      .show-group__main-group__image-box
        .slider
          .sold-out-box
            = image_tag src = @image[0].image.url, class: "top-image"
            .triangle-box 
              sold
        .icon__image
          - @image.each_with_index do |image, index|
            = image_tag src = @image[index].image.url,alt: "", class: "small-image"
      %table.show-group__main-group__detail
        %tr 
        %th 出品者
        %td
          =link_to user_path(@product.user_id), class: "detail-data detail-data-name" do
            = @product.user.nickname
        %tr 
        %th 商品名
        %td
          = @product.name
        %tr  
        %th カテゴリー
        %td
          = @product.category.parent.parent.name
          %br
          >
          = @product.category.parent.name
          %br
          >>
          = @product.category.name
        %tr 
        %th ブランド
        %td= @product.brand
        %tr  
        %th 商品の状態
        %td= @product.status.name
        %tr 
        %th 配送料の負担
        %td= @product.burden.name
        %tr
        %th 配送の方法
        %td= @deliveryway.way
        %tr 
        %th 配送元の地域
        %td= @product.prefecture.name
        %tr  
        %th 発送日の目安
        %td= @product.days.name


    .show-group__price-box
      .prict__center-box
        %h1.price__value
          ¥
          = @product.price
          .price-taxin-msg
            税込(送料込み)
    
    .show-group__description-box
      = simple_format(@product.description)
    - if @product.judge == "sold"
      .purchace-box__btn
        .purchace-box.sold-note
          売り切れました
    - else
      - if user_signed_in? && current_user.id != @product.user_id
        .purchace-box__btn
          = link_to product_purchase_index_path(@product.id), class:"purchace-box" do
            購入画面に進む

    - if user_signed_in? && current_user.id == @product.user_id
      =link_to edit_product_path, method: :get, class: "purchace-box" do
        .purchace-box__btn
          編集
      =link_to product_path(@product.id), method: :delete, class: "purchace-box" do
        .purchace-box__btn_2
          削除