.show-item
  %table.show-item__name
    %tr 
    %th 出品者
    %tr  
    %th カテゴリー
    %tr 
    %th ブランド
    %tr  
    %th 商品の状態
    %tr 
    %th 配送料の負担
    %tr
    %th 配送の方法
    %tr 
    %th 配送元の地域
    %tr  
    %th 発送日の目安

  %table.show-item__content
    %tr 
    %th= @product.user.nickname
    %tr  
    %th= @product.category.parent.parent.name
    %th= @product.category.parent.name
    %th= @product.category.name
    %tr 
    %th= @product.brand
    %tr  
    %th= @product.status.name
    %tr 
    %th= @product.burden.name
    %tr  
    %th= @deliveryway.way
    %tr 
    %th= @product.prefecture.name
    %tr  
    %th= @product.days.name

.praice
  .praice__boild
    %h1 ¥5500円  税込(送料込み)
%ul.slider
  = image_tag src = 'https://static.mercdn.net/item/detail/orig/photos/m58367672448_4.jpg?1584858075',size: "300"
  = image_tag src = 'https://static.mercdn.net/item/detail/orig/photos/m58367672448_4.jpg?1584858075',size: "300"

.icon__image
  = image_tag src = 'https://static.mercdn.net/item/detail/orig/photos/m58367672448_4.jpg?1584858075',size: "40"
  = image_tag src = 'https://static.mercdn.net/item/detail/orig/photos/m58367672448_4.jpg?1584858075',size: "40"

- if user_signed_in? && current_user.id != @product.user_id
  %ul.buy
    %li.buy__decision
      =link_to root_path do
        購入購入画面に進む


- if user_signed_in? && current_user.id == @product.user_id
  %ul.buy
    %li.buy__decision
      =link_to edit_product_path(@product.id), method: :get do
        編集
        
  %ul.buy2
    %li.buy2__decision2
      =link_to root_path do
        削除