!!!
%html
  %head
    
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title frema71b
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    -# このscriptを記載
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{ rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    %script{ type: "text/javascript", src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
  .application-body
    -if @search_results
      .search_results_wrapper
        .search_results_wrapper__body
          検索結果 <br>
          .resultPicup.Category
            .resultPicup__subtitile
              お客様が検索されたワード：
              = params[:keyword]
            .resultPicup__main-box
              .result-title
                = link_to "#", class: "genre-title-link" do
                  .genre-title-h3
                    
              .result-lists
                -@search_results.each do |search_result|
                  .result-list
                    =link_to product_path(search_result.id), class: "result-list__link" do
                      .result-list__link__image-box
                        = image_tag @images.find_by(product_id: search_result.id).image.url, class: "result-list__link__image-box__image"
                      .result-list__link__body
                        %h3.result-list__link__body__h3
                          = search_result.name
                        .result-list__link__body__details
                          %ul.details-ul
                            %li.details-li
                              = "¥ #{search_result.price}"
                            %li.details-li.favorite-icon
                              = icon('fas', 'star', class: 'box__image-f')
                              0
    .wrapper
      .header
        .head-wrapper
          .main-header
            .main-header__logo
              =link_to products_path do
                = image_tag  'logo.png',width:150 

            = form_with(url: products_searches_path, local: true, method: :get, class: "search-form") do |form|
              .search-group
                = form.text_field :keyword, placeholder: "商品を検索する", class: "main-header__search-box", id: "_products_searches_keyword"
                = form.label :keyword, for: "search-btn", class: "search-label" do
                  = form.submit "検索", class: "search-btn", id: "search-btn", style: "display: none"
                  = image_tag src = 'icon-search 1.png',size: "30x25",class: "main-header__search-img"

                %input{name: "search-word-list", type: "hidden", value: @wordbox, class: 'search_word_list' }/
              %ul#result-word
           
          .main-header__nav
            %ul.main-header__nav__left-box
              %p.link カテゴリー
              %p.link ブランド
            %ul.main-header__nav__right-box
              - if user_signed_in?
                =link_to'マイページ', user_path(current_user.id), class: "link mypage"
                =link_to'ログアウト', destroy_user_session_path, method: :delete, class: "link logout"
              - else
                = link_to '新規登録', new_user_registration_path, class: "link signup"
                = link_to 'ログイン', new_user_session_path, class: "link login"

      .body
        = yield


      .footer
        %ul.contents
          %li.content
            %h2.content__head
              FURIMAについて
            %ul.content__menu
              %li.content__menu__list
                =link_to "#" do
                  会社概要（運営会社）
              %li.content__menu__list
                =link_to "#" do
                  プライバシーポリシー
              %li.content__menu__list
                =link_to "#" do
                  FURIMA利用規約
              %li.content__menu__list
                =link_to "#" do
                  ポイントに関する特約

          %li.content
            %h2.content__head
              FURIMAを見る
            %ul.content__menu
              %li.content__menu__list
                =link_to "#" do
                  カテゴリー一覧
              %li.content__menu__list
                =link_to "#" do
                  ブランド一覧

          %li.content
            %h2.content__head
              ヘルプ＆ガイド
            %ul.content__menu
              %li.content__menu__list
                =link_to "#" do
                  FURIMAガイド
              %li.content__menu__list
                =link_to "#" do
                  FURIMAロゴ利用ガイドライン

        .footer__logo
          =link_to "#" do
            =image_tag "logo-white.png"
          %p ©️FURIMA
      - if user_signed_in?
        = link_to  new_product_path, class: "exhibit-icon" do
          .exhibit-icon
            .exhibit-icon-box
              %span.exhibit-span
                出品する
              = icon('fas', 'camera fa-5x', class: 'exhibit-image')
      -else
        = link_to  new_user_session_path, class: "exhibit-icon" do
          .exhibit-icon
            .exhibit-icon-box
              %span.exhibit-span
                出品する
              = icon('fas', 'camera fa-5x', class: 'exhibit-image')
              
