!!!
%html
  %head
  .header
    .main-header
      %input{type:"search",name: "main-header__title",placeholder:"キーワードの入力"}
    .main-header__image
      = image_tag src = 'logo.png',size: "150x100"
    .main-header__nav



























    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title furima
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
